.common-header-container {
  width: 100%;
}
.common-header-container > .common-header-wrap.common-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}
.common-header-container .header {
  display: block;
  font-size: 0;
  background: #333;
  position: relative;
}
.common-header-container .header > img {
  width: 100%;
  min-height: 40px;
}
.common-header-container .header > .nav-btn {
  width: 32px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 5%;
  display: none;
}
.common-header-container .header > .nav-btn span {
  display: block;
  width: 32px;
  height: 3px;
  background: #ffffff;
  margin-bottom: 5px;
}
.common-header-container .header > .phone {
  position: absolute;
  display: block;
  width: 272px;
  height: 22px;
  line-height: 22px;
  color: #ffffff;
  font-size: 25px;
  top: 50%;
  margin-top: -11px;
  right: 0;
}
.common-header-container .header > .phone > img {
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.common-header-container .header > .phone > span {
  float: left;
}
.common-header-container .mobile-nav {
  position: absolute;
  right: 0;
  z-index: 2;
  width: 130px;
  color: #ffffff;
  background: #333333;
  display: none;
}
.common-header-container .mobile-nav > ul > li {
  border-bottom: 1px solid #000000;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.common-header-container .mobile-nav > ul > li:last {
  border-bottom: none;
}
.common-header-container .mobile-phone,
.common-header-container .mobile-qq {
  display: none;
  width: 360px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 25px;
  text-align: left;
  margin: 10px auto;
  border-radius: 100px;
}
.common-header-container .mobile-phone > span > i,
.common-header-container .mobile-qq > span > i {
  margin-left: 10px;
}
.common-header-container .mobile-phone {
  background: orange;
}
.common-header-container .mobile-phone > img {
  width: 22px;
  height: 22px;
  margin: 10px 20px 0 20px;
  float: left;
}
.common-header-container .mobile-qq {
  background: #1793f5;
}
.common-header-container .mobile-qq > img {
  width: 30px;
  height: 30px;
  margin: 6px 15px 0 17px;
  float: left;
}
.common-header-container .nav {
  height: 50px;
  background-color: #f2f2f2;
  line-height: 50px;
}
.common-header-container .nav ul {
  margin: 0 auto;
}
.common-header-container .nav ul li {
  float: left;
  padding: 0 38px;
  text-align: center;
  cursor: pointer;
}
.common-header-container .nav ul li:hover {
  background-color: #015ba2;
  color: #fff;
}
.common-header-container .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 768px) {
  .common-header-container .nav {
    display: none;
  }
  .common-header-container .mobile-phone,
  .common-header-container .mobile-qq {
    width: 300px;
    display: block;
    font-size: 20px;
  }
  .common-header-container .header > .nav-btn {
    display: block;
  }
  .common-header-container .header > .phone {
    display: none;
  }
}
.common-course-introduce > .common-course-detail > div {
  float: left;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar {
  width: 20%;
  height: 533px;
  overflow-y: auto;
  margin-right: 2%;
  background-color: #1a1a1a;
  color: #ffffff;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li {
  background-color: #1a1a1a;
  text-align: center;
  border-bottom: 1px solid #000000;
  cursor: pointer;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li > p {
  font-size: 16px;
  padding: 10px 0;
  color: #fc0d1b;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li > ol {
  display: none;
  background-color: #1a1a1a;
  position: relative;
  top: 1px;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li > ol.active {
  display: block;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li > ol > li {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000000;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li > ol > li.active {
  color: #ffffff;
  background-color: #fb5057;
}
.common-course-introduce > .common-course-detail > div.course-detail-sidebar > ul > li > ol > li:hover {
  color: #ffffff;
  background-color: #fb5057;
}
.common-course-introduce > .common-course-detail > div.course-detail-main {
  width: 76.5%;
  height: 533px;
  overflow: hidden;
  background: #1a1a1a;
  position: relative;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > div {
  overflow-y: auto;
  padding: 20px 20px 60px 20px;
  height: 85%;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > div > ul > li > h3 {
  font-size: 18px;
  color: #015ba2;
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
  margin-bottom: 20px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > div > ul > li > span {
  color: #ffffff;
  line-height: 40px;
  margin-right: 20px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > div > ul > li > span > img {
  width: 14px;
  height: 12px;
  margin-right: 15px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fc0d1b;
  color: #ffffff;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > div {
  height: 100%;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > div > img {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 20px;
  position: relative;
  float: left;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > div > span {
  position: relative;
  float: left;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > div i {
  float: left;
  height: 100%;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-jobs {
  float: left;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-jobs > #commonpage-course-employment {
  float: left;
  padding: 5px 0;
  width: 460px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-jobs > img {
  float: left;
  top: 14px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-jobs > span {
  float: left;
  top: 14px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-salary {
  float: right;
  margin-right: 20px;
  line-height: 50px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-salary > i {
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
}
.common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-salary > img {
  top: 50%;
  margin-top: -10px;
}
@media screen and (max-width: 1024px) {
  .common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-jobs {
    display: none;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-salary {
    float: left;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .common-course-introduce > .common-course-detail > div {
    float: left;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-sidebar {
    width: 42%;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-main {
    width: 55.5%;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-main > div {
    padding: 20px 10px;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-jobs {
    display: none;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-salary {
    float: left;
  }
  .common-course-introduce > .common-course-detail > div.course-detail-main > section > .course-employment-salary i {
    font-size: 14px;
  }
}
.common-footer-container {
  width: 100%;
  background-color: #000032;
  position: relative;
  color: #ffffff;
}
.common-footer-container > .pc {
  display: block;
  width: 100%;
  height: 100%;
}
.common-footer-container > .pc > .footer {
  position: relative;
  height: 310px;
}
.common-footer-container > .pc > .footer > div {
  float: left;
}
.common-footer-container > .pc > .footer > .about-us {
  line-height: 40px;
  position: absolute;
  bottom: 0;
  left: 32px;
}
.common-footer-container > .pc > .footer > .about-us > ul {
  margin-bottom: 12px;
}
.common-footer-container > .pc > .footer > .about-us > ul > .logo > img {
  display: block;
  width: 130px;
}
.common-footer-container > .pc > .footer > .about-us > .entry-button > li {
  float: left;
  color: #ffffff;
  margin-right: 15px;
  padding: 0 68px;
  border-radius: 3px;
  cursor: pointer;
}
.common-footer-container > .pc > .footer > .about-us > .entry-button > li.bg-blue {
  background-color: #3390f2;
}
.common-footer-container > .pc > .footer > .about-us > .entry-button > li.bg-red {
  background-color: #fc4b5a;
}
.common-footer-container > .pc > .footer > .about-us > .entry-button > li.bg-orange {
  background-color: #fd8248;
}
.common-footer-container > .pc > .footer > .address {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -135px;
}
.common-footer-container > .pc > .footer > .address > .first {
  margin-bottom: 20px;
}
.common-footer-container > .pc > .footer > .address img {
  display: block;
  width: 265px;
  height: 159px;
}
.common-footer-container > .pc > .footer > .contact {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 32px;
}
.common-footer-container > .pc > .footer > .contact > section {
  float: left;
  margin-right: 15px;
}
.common-footer-container > .pc > .footer > .contact > section > img {
  display: block;
  width: 130px;
  height: 130px;
}
.common-footer-container > .pc > .footer > .contact > section > p {
  text-align: center;
  height: 30px;
  color: #333333;
  background: #ffffff;
}
.common-footer-container > .pc > .record {
  width: 100%;
  height: 70px;
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
}
.common-footer-container > .mobile {
  display: none;
}
.common-footer-container .fixed-width {
  max-width: 1280px;
  margin: 0 auto;
}
body {
  -webkit-tap-highlight-color: transparent;
}
@media screen and (max-width: 767px) {
  body .swiper-button-prev,
  body .swiper-button-next {
    display: none;
  }
  body .fixed-width {
    max-width: 1280px;
    padding: 0 16px 16px 16px !important;
    margin: 0 auto;
  }
  body .common-class-opening-plan .class-list .swiper-slide .class-list-wrap {
    margin-left: 0;
  }
  body .common-class-opening-plan .class-list .swiper-slide .class-list-wrap > li {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  body .common-project-introduction > .detail h3 > span {
    font-size: 18px;
  }
  body .common-project-introduction > .detail p {
    font-size: 12px;
  }
  body .common-project-introduction > .detail > .introduction img {
    display: block;
    width: 100%;
  }
  body .common-class-opening-plan .class-list .swiper-slide {
    width: 100%;
  }
  body .common-class-opening-plan .class-list .swiper-slide .class-list-wrap {
    margin-left: 0;
  }
  body .common-class-opening-plan .class-list .swiper-slide .class-list-wrap > li {
    width: 100%;
    margin-bottom: 35px;
  }
  body .common-class-opening-plan .class-list .swiper-slide .class-list-wrap > li.list-center {
    margin-right: 0;
  }
  body .common-footer-container {
    text-align: center;
    padding: 0;
    height: inherit;
    background: #ffffff;
    color: #333333;
  }
  body .common-footer-container > .pc {
    display: none;
  }
  body .common-footer-container > .mobile {
    display: block;
  }
  body .common-footer-container > .mobile > .contact {
    width: 262px;
    margin: 10px auto;
  }
  body .common-footer-container > .mobile > .contact > section {
    float: left;
  }
  body .common-footer-container > .mobile > .contact > section > img {
    width: 130px;
    height: 130px;
  }
  body .common-footer-container > .mobile > .contact > section > p {
    text-align: center;
    height: 30px;
    color: #333333;
    background: #ffffff;
  }
  body .common-footer-container > .mobile > .address {
    margin-bottom: 50px;
    text-align: left;
    line-height: 30px;
  }
  body .common-footer-container > .mobile > .address > ul > li {
    margin-bottom: 10px;
  }
  body .common-footer-container > .mobile > .address > ul > li .title {
    padding: 0 10px;
    width: 85px;
    display: inline-block;
    background-color: #3390f2;
    border-radius: 3px;
    color: #ffffff;
    margin-right: 10px;
  }
  body .common-footer-container > .mobile > .address > .record {
    margin-top: 20px;
    text-align: center;
  }
  body .common-footer-container > .mobile > .phone {
    -webkit-appearance: none;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background-color: #000032;
    font-size: 20px;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
  }
  body .common-footer-container > .mobile > .phone > img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }
  body .common-employment-detail > .employment-list > .employment-list-wrap .employment-list-head li {
    padding-top: 8px;
    height: 40px;
    line-height: normal;
  }
  body .common-employment-detail > .employment-list > .nav {
    height: 32px;
  }
  body .common-employment-detail > .employment-list > .nav > .employment-list-nav {
    display: none;
    background: #666666;
    overflow-x: auto;
    line-height: 33px;
    position: absolute;
    top: 79px;
    right: 0;
    z-index: 2;
  }
  body .common-employment-detail > .employment-list > .nav > .employment-list-nav > li {
    float: none;
    border-bottom: 1px solid #999696;
    color: #ffffff;
    text-align: center;
  }
  body .common-employment-detail > .employment-list > .nav > .employment-list-nav > li span {
    border: none;
  }
  body .common-employment-detail > .employment-list > .nav > .nav-btn {
    top: 17px;
    right: 2%;
    display: block;
  }
}
@media screen and (max-width: 420px) {
  body .common-employment-detail > .employment-title span {
    font-size: 18px;
    width: 286px;
  }
}
.fixed-width {
  max-width: 1280px;
  padding: 0 32px 32px 32px;
  margin: 0 auto;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 15px;
  height: 3px;
  border-radius: 10px;
  background: #aaaaaa;
  margin: 0 5px;
  opacity: 0.8;
  cursor: pointer;
}
.swiper-active-switch {
  background: #eb0c17;
}
.common-project-introduction > .project {
  position: relative;
  padding-top: 32px;
}
.common-project-introduction > .project > #swiper-container-project {
  max-height: 300px !important;
  overflow: hidden;
  margin-left: 30px;
}
.common-project-introduction > .project > #swiper-container-project .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.common-project-introduction > .project > #swiper-container-project .swiper-wrapper > .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
}
.common-project-introduction > .project > #swiper-container-project img {
  display: block;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc \9;
}
.common-project-introduction > .project > .title {
  float: left;
  width: 30px;
  font-size: 20px;
  color: #015ba2;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -89px;
  font-weight: 600;
}
.common-project-introduction > .detail h3 > span {
  width: 100%;
  padding: 0;
  text-align: center;
}
.common-project-introduction > .detail p {
  font-size: 12px;
}
.common-class-opening-plan {
  background-color: #f9f9f9;
}
.common-class-opening-plan .class-list > .swiper-container {
  max-height: 210px !important;
  overflow: hidden;
}
.common-class-opening-plan .class-list .class-list-wrap {
  overflow: hidden;
  font-size: 18px;
}
.common-class-opening-plan .class-list .class-list-wrap > li {
  background: #fff;
  border-radius: 10px;
  width: 95%;
  margin-left: 6px;
  height: 210px;
  float: left;
  cursor: pointer;
}
.common-class-opening-plan .class-list .class-list-wrap > li.last {
  margin: 0;
}
.common-class-opening-plan .class-list .class-list-wrap > li .title {
  margin: 15px 25px;
}
.common-class-opening-plan .class-list .class-list-wrap > li .title h3 {
  font-size: 22px;
  color: #015ba2;
  font-weight: 600;
  float: left;
}
.common-class-opening-plan .class-list .class-list-wrap > li .title span {
  float: right;
  position: relative;
  margin-left: 10px;
  top: 2px;
}
.common-class-opening-plan .class-list .class-list-wrap > li .start-time {
  margin: 0 25px 15px 25px;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details {
  display: block;
  margin: 0 25px;
  position: relative;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details > .entrance {
  float: left;
  width: 50%;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details > .entrance > .address {
  font-size: 18px;
  color: #ff0000;
  margin-bottom: 15px;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details > .entrance > .sign-up-entry {
  display: block;
  border: none;
  color: #ffffff;
  background-color: #ff0000;
  width: 100%;
  max-width: 155px;
  height: 40px;
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details > .entrance > .sign-up-entry.btn-disabled {
  background-color: #cccccc;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details > .detail {
  float: right;
  width: 50%;
  max-width: 122px;
  max-height: 98px;
  position: absolute;
  bottom: -7px;
  right: -7px;
}
.common-class-opening-plan .class-list .class-list-wrap > li .entrance-details > .detail img {
  display: block;
  width: 100%;
}
.common-employment-detail > .employment-title {
  padding: 25px 0;
}
.common-employment-detail > .employment-title span {
  display: block;
  width: 450px;
  text-align: center;
  margin: 0 auto;
  font-size: 28px;
  color: #015ba2;
  font-weight: 600;
}
.common-employment-detail > .employment-list {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc \9;
}
.common-employment-detail > .employment-list > .nav {
  height: 68px;
  position: relative;
  background: #ffffff;
}
.common-employment-detail > .employment-list > .nav > .nav-btn {
  width: 32px;
  height: 20px;
  position: absolute;
  top: 35px;
  margin-top: -10px;
  right: 5%;
  display: none;
}
.common-employment-detail > .employment-list > .nav > .nav-btn span {
  display: block;
  width: 32px;
  height: 3px;
  background: #333333;
  margin-bottom: 5px;
}
.common-employment-detail > .employment-list > .nav > .employment-list-nav {
  background-color: #ffffff;
  height: 68px;
  line-height: 68px;
  display: block;
}
.common-employment-detail > .employment-list > .nav > .employment-list-nav > li {
  float: left;
}
.common-employment-detail > .employment-list > .nav > .employment-list-nav > li > span {
  padding: 0 20px;
  border-right: 1px solid #cccccc;
}
.common-employment-detail > .employment-list > .nav > .employment-list-nav > li > span.last {
  border-right: none;
}
.common-employment-detail > .employment-list > .nav > .employment-list-nav > li:hover {
  background-color: #fb7178;
  color: #ffffff;
  cursor: pointer;
}
.common-employment-detail > .employment-list > .employment-list-wrap {
  height: 390px;
  overflow: hidden;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-head {
  background-color: #666666;
  width: 100%;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-head > li {
  float: left;
  color: #ffffff;
  width: 14.28%;
  height: 68px;
  line-height: 68px;
  text-align: center;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-head > li.row-sub-red {
  background-color: #fb5057;
  color: #ffffff;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll .employment-list-body {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll .employment-list-body > li {
  font-size: 0;
  overflow: hidden;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll .employment-list-body > li span {
  float: left;
  font-size: 14px;
  width: 14.28%;
  min-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 46px;
  line-height: 46px;
  text-align: center;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll .employment-list-body > li span.company {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll .employment-list-body > li span.row-sub-red {
  background-color: #fb5057;
  color: #ffffff;
}
.common-employment-detail > .employment-list > .employment-list-wrap .employment-list-scroll .employment-list-body > li.col-gray {
  background-color: #f5f5f5;
}
.main-title {
  padding: 35px 0;
}
.main-title > h3 > span {
  display: block;
  position: relative;
  width: 230px;
  height: 28px;
  font-size: 28px;
  color: #015ba2;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
.main-title > p {
  margin-top: 20px;
  text-align: center;
}
.main-title-dec {
  padding: 25px 0;
}
.main-title-dec > h3 > span {
  display: block;
  position: relative;
  width: 320px;
  height: 28px;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
.main-title-dec > h3 > span > img {
  width: 32px;
  height: 19px;
}
.main-title-dec > p {
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .main-title-dec > h3 > span {
    font-size: 22px;
    width: 230px;
  }
  .main-title-dec > h3 > span > img {
    width: 16px;
    height: 10px;
  }
}
.underline-blue:after {
  content: '';
  position: relative;
  top: -14px;
  display: block;
  border-bottom: 2px solid #015ba2;
}
.box-gray {
  background-color: #f9f9f9;
}
.box-white {
  background-color: #ffffff;
}
.box-black {
  background-color: #0e0315;
}
.box-2d38c8 {
  background-color: #2d38c8;
}
.clear-fix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}
.clear-fix {
  zoom: 1;
}
