.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail {
  max-height: 441px;
  overflow-y: auto;
  padding: 10px 0 10px 10px;
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li {
  width: 28.4%;
  height: 156px;
  padding: 20px;
  overflow: hidden;
  background-color: #ffffff;
  float: left;
  margin: 0 1% 2% 0;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc \9;
  border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  cursor: pointer;
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li.right {
  margin-right: 0;
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li:hover {
  -webkit-transform: translateY(-2px) scale(1.2);
  -o-transform: translateY(-2px) scale(1.02);
  -ms-transform: translateY(-2px) scale(1.02);
  -moz-transform: translateY(-2px) scale(1.02);
  transform: translateY(-2px) scale(1.02);
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li > div > h3 > span {
  font-size: 16px;
  font-weight: 600;
  color: #00549d;
  margin-right: 10px;
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li > div > p {
  margin-top: 10px;
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li > section {
  text-align: right;
}
.employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li > section img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 104px;
  height: 30px;
}
.employment-container .employment-wrap .chart {
  padding-top: 20px;
}
.employment-container .employment-wrap .chart > .chart-detail > img {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #cccccc \9;
  display: block;
  width: 100%;
}
.employment-container .employment-wrap .where > .where-detail > ul > li > img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  .employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail {
    padding: 15px;
  }
  .employment-container .employment-wrap .enterprise-feedback > .enterprise-feedback-detail > ul > li {
    width: 90%;
    margin: 0;
    margin-bottom: 4%;
    padding: 15px;
  }
}
